/* dette overskriver browserstandard for padding og margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circle-container-container {
  height: 100vh; /*vp er viewport height - som er høyden til browservinduet*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.circle-container {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; /*setter tingene i midten horisontalt*/

}

.circle {
  height: 150px;
  width: 150px;
  background: orange;
  border-radius: 50%;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

}


body {
  background-color: #3498db;
}

h1 {
  background: #2ecc71;
  margin-top: 715px;
}
