#contact-elements-wrapper {
    padding-top: 2em;
}
.contactelement {
    display: flex;
    padding: 0.7em;
}

.contact-description {
    display: block;
    width: 300px;
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
}

.contact-details {
    width: 500px;
    padding-left: 1em;
}

.contactelement p {
    margin: auto;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #FFA8A9;
}
