* {
    font-family: Arial, sans-serif;
}

.cvelement {
    display: flex;
    /*background-color: purple;*/
    padding: 1em;
}

.cv-description {
    display: block;
    width: 300px;
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
}

.cv-details {
    width: 500px;
    padding-left: 1em;
}

.cvelement p {
    margin: auto;
}
