* {
    font-family: Arial, sans-serif;
}

.circle {
  margin-top: 0;
  background-color: lightgreen;
  padding: 20px;
}

/*kontaktinfo*/
.contactinfo {
  background-color: orange;
  margin: 0px 5px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}
.contactinfo img {
  height: 45px;
  margin: 3px;
}

/*kontakinfo som er lenker */
.toplink {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}

a.toplink {
  color: black;
}
a.toplink:hover {
  color: pink;
}


.cvelement {
  background-color: purple;
  /*margin-bottom: 2em;*/
  padding: 1em;
  text-align: justify;
  /*border: 1px solid black;*/
}

.cvelement span {
  font-weight: lighter;
}

.cvelement p {
  margin: auto;
}

h3 + p {
  color: hotpink;
  font-size: 18px;
  padding: 4px 0px;
}

/*hexagon from http://csshexagon.com/*/ 
.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}
