/* dette overskriver browserstandard for padding og margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;

}

.window {
    height: 100vh; /*vp er viewport height - som er høyden til browservinduet*/
    display: flex;
    flex-direction: column;
    /*background-color: white;*/
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
}
