/* dette overskriver browserstandard for padding og margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;

}

.window {
    height: 100vh; /*vp er viewport height - som er høyden til browservinduet*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transform {
    transition: transform 900ms ease-in-out;
}

.menu-item-container-active {
    transform: translate(0px, -400px);
}
