/* dette overskriver browserstandard for padding og margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;

}

.window {
    height: 100vh; /*vp er viewport height - som er høyden til browservinduet*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: glidetotop 2s ease-out 0s infinite;
}

@keyframes glidetotop {
    0% {

    }
    100% {
        transform: translate(0%, -50%);
    }
}
